<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form answers view</title>
</head>
<body style="max-width: fit-content; margin:auto;">
    <h1>Your Favourite:</h1>
    <br><br>
    <label for="music"><b>Music Genre:</b></label>
    <p id="music"><%= music %></p>
    <br><br>
    <label for="movie"><b>Movie:</b></label>
    <p id="movie"><%= movie %></p>
    <br><br>
    <label for="game"><b>Game:</b></label>
    <p id="game"><%= game %></p>
</body>
</html>