<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A massive 3-element form</title>
</head>
<body style="max-width: fit-content; margin:auto;">
    <br><br>
    <form method="POST" action="/formdata">
        <label for="music">Favourite Music Genre:</label>
        <input id="music" name="music" type="text"/>
        <br><br>
        <label for="movie">Favourite Movie:</label>
        <input id="movie" name="movie" type="text"/>
        <br><br>
        <label for="game">Favourite Game:</label>
        <input id="game" name="game" type="text"/>
        <br><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>